<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User list</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .date-input {
                max-width: 200px; 
            }

            .date-display {
                display: inline-block;
                min-width: 120px; /* 適切な最小幅に設定 */
                text-align: center;
            }
        </style>
    </head>
    <body>
      <div class="container">
	<p>有効なユーザー一覧は<a href = "/admin/list_users">こちら</a></p>
            <h1 class="text-center mt-4">User List</h1>
            <table class="table table-bordered table-striped mt-4">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>status</th>
                        <th>expiration date</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user)=>{ %>
                    <tr>
                        <form action="/admin/list_users/allusers/update_expiration/<%= user.id %>#dateDisplay_<%= user.id %>" method="post">
                            <td><%= user.id %></td>
                            <td><%= user.username %></td>
                            <td><%= user.status %></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <span id="dateDisplay_<%= user.id %>" class="date-display"><%= user.expiration_date %></span>
                                    <input type="date" id="dateInput_<%= user.id %>" name="newExpirationDate" class="form-control date-input" style="display: none;">
                                    <button type="button" id="editButton_<%= user.id %>" class="btn btn-info btn-sm ml-2" onclick="editDate('<%= user.id %>')">Edit</button>
                                    <button type="submit" id="updateButton_<%= user.id %>" class="btn btn-success btn-sm ml-2" style="display: none;">Update</button>
                                    <button type="button" id="backButton_<%= user.id %>" class="btn btn-secondary btn-sm ml-2" style="display: none;" onclick="cancelEdit('<%= user.id %>')">Back</button>
                                </div>
                            </td>
                            <td>
                                
                                <a href="/admin/list_users/allusers/delete/<%= user.id %>#dateDisplay_<%= user.id %>" class="btn btn-danger btn-sm">Delete</a>
                                <a href="/admin/list_users/allusers/restore/<%= user.id %>#dateDisplay_<%= user.id %>" class="btn btn-warning btn-sm">Restore</a>
                            </td>
                        </form>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <div class="text-center">
                <button onclick="location.href='/admin'" class="btn btn-secondary mb-3">Back</button>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function editDate(userId) {
            var displaySpan = document.getElementById('dateDisplay_' + userId);
            var dateInput = document.getElementById('dateInput_' + userId);

            var editButton = document.getElementById('editButton_' + userId);
            var updateButton = document.getElementById('updateButton_' + userId);
            var backButton = document.getElementById('backButton_' + userId);

            // 現在の日付を非表示に
            displaySpan.style.display = 'none';
            dateInput.style.display = 'block';
            dateInput.value = displaySpan.textContent;

            editButton.style.display = 'none';
            updateButton.style.display = 'block';
            backButton.style.display = 'block';
        }

        function cancelEdit(userId) {
            var displaySpan = document.getElementById('dateDisplay_' + userId);
            var dateInput = document.getElementById('dateInput_' + userId);
            var editButton = document.getElementById('editButton_' + userId);
            var updateButton = document.getElementById('updateButton_' + userId);
            var backButton = document.getElementById('backButton_' + userId);

            displaySpan.style.display = 'block';
            dateInput.style.display = 'none';
            updateButton.style.display = 'none';
            backButton.style.display = 'none';
            editButton.style.display = 'block';
        }

        // function updateDate(userId) {
        //     var newDate = document.getElementById('dateInput_' + userId).value;
        //     document.getElementById('dateDisplay_' + userId).innerText = newDate;
        //     document.getElementById('dateDisplay_' + userId).style.display = 'block';
        //     document.getElementById('dateInput_' + userId).style.display = 'none';
        //     document.getElementById('backButton_' + userId).style.display = 'none';
        //     event.currentTarget.style.display = 'none';
        //     event.currentTarget.previousElementSibling.style.display = 'block';
        // }
    </script>
</body>
</html>
