<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>
<body>
    <h1>User list</h1>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>status</th>
            <th>expiration date</th>
        </tr>
        <% users.forEach((user)=>{ %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.status %></td>
            <td>
                <span id="dateDisplay_<%= user.id %>"></span> <!-- 表示される日付 -->
                <input type="date" id="dateInput_<%= user.id %>" style="display: none;"> <!-- 隠れている日付入力欄 -->
            </td>
            <td>
                <button onclick="editDate('<%= user.id %>')">編集</button> <!-- 編集ボタン -->
                <button onclick="updateDate('<%= user.id %>')" style="display: none;">更新</button> <!-- 更新ボタン -->
            </td>

            <td><a href="/admin/list_users/delete/<%= user.id %>">削除</a></td>
            <td><a href="/admin/list_users/restore/<%= user.id %>">復元</a></td>
        </tr>
        <% }); %>
      </table>

    <script>
        function setCurrentDate() {
            var today = new Date().toISOString().split('T')[0];
            document.querySelectorAll('span[id^="dateDisplay_"]').forEach(function(span) {
                span.textContent = today;
            });
        }

        function editDate(userId) {
            document.getElementById('dateDisplay_' + userId).style.display = 'none';
            var dateInput = document.getElementById('dateInput_' + userId);
            dateInput.style.display = 'block';
            dateInput.value = document.getElementById('dateDisplay_' + userId).textContent;
            event.currentTarget.style.display = 'none';
            event.currentTarget.nextElementSibling.style.display = 'block';
        }

        function updateDate(userId) {
            var newDate = document.getElementById('dateInput_' + userId).value;
            document.getElementById('dateDisplay_' + userId).innerText = newDate;
            document.getElementById('dateDisplay_' + userId).style.display = 'block';
            document.getElementById('dateInput_' + userId).style.display = 'none';
            event.currentTarget.style.display = 'none';
            event.currentTarget.previousElementSibling.style.display = 'block';
        }

        window.onload = setCurrentDate;
    </script>
</body>
</html>